<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="material">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Material</th>
    <td mat-cell *matCellDef="let element">{{element.material}}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
  </ng-container>
  <ng-container matColumnDef="highest">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Highest </th>
    <td mat-cell *matCellDef="let element">{{element.highest | percent:'1.2'}}</td>
  </ng-container>
  <ng-container matColumnDef="highestRun">
    <th mat-header-cell *matHeaderCellDef> Highest Run </th>
    <td mat-cell *matCellDef="let element"><a mat-stroked-button [routerLink]="['/detail', element.highestRun]">Run</a></td>
  </ng-container>
  <ng-container matColumnDef="average">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Average</th>
    <td mat-cell *matCellDef="let element">{{element.average | percent:'1.2'}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
