<div class="importer">
<button type="button" mat-raised-button color="primary" (click)="importCAPI()">Import cAPI journal</button>
<button type="button" mat-raised-button (click)="fileInput.click()">Import local journal files</button>
<input hidden (change)="readJournals($event)" #fileInput multiple type="file" accept=".log">
</div>
<mat-progress-bar *ngIf="importProgress > 0 && importProgress < 100"  color="primary" mode="buffer" [value]="importProgress"></mat-progress-bar>
<mat-progress-bar *ngIf="importProgress == 100"  color="primary" mode="query"></mat-progress-bar>
<hr>

<section class="options">
  <mat-checkbox [(ngModel)]="onlyWithCollection">Must include collection drone launch</mat-checkbox>
  <mat-checkbox [(ngModel)]="onlyWithProspector">Must include prospector drone launch</mat-checkbox>
</section>

<mat-nav-list>
  <ng-template ngFor let-run [ngForOf]="runs()">
    <div>
      <a mat-list-item [routerLink]="['/detail', run.id]">
        <span class="timestamp">{{run.dateStart | amLocal | amDateFormat:'LLL'}} - {{run.dateEnd | amLocal | amDateFormat:'LLL'}}</span>
        <span class="duration">({{run.duration | duration}})</span>
        <span class="location">{{run.location.body || run.location.starSystem}}</span>
        <span class="gamemode">{{run.gameMode}}</span>
        <span class="commander">{{run.commander}}</span>
        <span class="ship">{{run.ship}}</span>
        <span class="events">
          <mat-icon *ngIf="run.attacked" title="You was getting attacked">warning</mat-icon>
          <mat-icon *ngIf="run.died" title="You died">error</mat-icon>
        </span>
      </a>
      <button mat-flat-button color="accent" (click)="contribute(run)" [disabled]="run.location.bodyID <= 0">Contribute</button>
    </div>
  </ng-template>
</mat-nav-list>
