<div class="dark">
  <mat-card class="card-cumulative-frequency">
    <mat-card-header>
      <mat-card-title>CDFb based on the radius (R) in % of the hotspot</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slider
        class="example-margin"
        [max]="100"
        [min]="0"
        [step]="20"
        [thumbLabel]="true"
        [tickInterval]="1"
        [(ngModel)]="sliderValue"
        (change)="updateChart()"
      >
      </mat-slider>

      <ngx-charts-line-chart
        [results]="results"
        [yAxis]="true"
        [showXAxisLabel]="true"
        xAxisLabel="%content"
        [xAxis]="true"
        [showYAxisLabel]="true"
        yAxisLabel="% of asteroids above %content (CDFb)"
        [yAxisTickFormatting]="percentTickFormatting"
        [yScaleMin]="0"
        [yScaleMax]="1"
        [xScaleMin]="0"
        [xScaleMax]="70"
        scheme="picnic"
      >
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>
</div>
