// Import library functions for theme creation.
@import './node_modules/@angular/material/theming';

// Define your application's custom theme.
$primary: mat-palette($mat-purple);
$accent:  mat-palette($mat-green, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);
